<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom bg-success px-4">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
        <span class="fs-4 text-white fw-bold">Posto de Gasolina</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link active bg-light text-success fw-semibold" aria-current="page">Início</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'sobre' %}" class="nav-link text-white">Sobre</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <span class="nav-link text-white fw-bold">Olá, {{ user.username }}</span>
            </li>
            <li class="nav-item">
                <form method="post" action="{% url 'logout' %}" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger ms-2">Sair</button>
                </form>
            </li>
        {% else %}
            <li class="nav-item">
                <a href="{% url 'login' %}" class="btn btn-success ms-2">Login</a>
            </li>
        {% endif %}
    </ul>
</header>